
<div class="footer">
    <p>Gabi Paes e Doces - R. Silvestre Bartoli, 1470 - Jardim Itamarati, Botucatu - SP, 15608-013     <mat-icon aria-hidden="false" aria-label="Example home icon">phone</mat-icon>   3815-1215</p>
<div class="social">
    
    <img class = "imgLogo" src="../../../../assets/images/logo_padaria.jpg" alt="logo">
    <h3>Visite nossas redes sociais e confiram nossas delicias: </h3>
   <a href="http://facebook.com"> <img class="soc" src="../../../../assets/images/face.png" alt=""></a>
    <a> <img class="soc" src="../../../../assets/images/zap.png" alt=""> </a>
    <a href="http://instagram.com"> <img class="soc" src="../../../../assets/images/insta.png" alt=""></a>
</div>
<div><p>Desenvolvido por Hernani Almeida: Contato 14996804402</p></div>
</div>