<div class="cont">
<div class="texto">
    <h1>Um pouco de nossa historia</h1>
   <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas turpis tellus, fringilla quis purus vitae, </p>

   <p>Praesent efficitur nibh turpis, sit amet vehicula neque gravida eget. Mauris placerat, arcu eget mattis cursu</p>

   <p>Proin magna justo, auctor sed pulvinar eget, sagittis eu nisl. Suspendisse convallis viverra pellentesque. </p>

   <p>Aliquam rutrum luctus imperdiet. Nulla a purus libero. Integer at viverra lectus, sit amet ullamcorper neque.</p>
   <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas turpis tellus, fringilla quis purus vitae, </p>

   <p>Praesent efficitur nibh turpis, sit amet vehicula neque gravida eget. Mauris placerat, arcu eget mattis cursu</p>

   <p>Proin magna justo, auctor sed pulvinar eget, sagittis eu nisl. Suspendisse convallis viverra pellentesque. </p>

   <p>Aliquam rutrum luctus imperdiet. Nulla a purus libero. Integer at viverra lectus, sit amet ullamcorper neque.</p>
</div>
<div class="end">
    <img class="imgHome" [src]="url" alt="">
</div>
</div>